.bot-wrapper {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #9baab8;
  height: 350px;
  z-index: 1;
}
.bot-wrapper .bot-header {
  flex: 1;
  background-color: #11212d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.bot-wrapper .bot-chat {
  flex: 8;
  background-color: #ccd0cf;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 3.5px;
  overflow-y: auto;
}
.bot-wrapper .bot-chat .single-msg {
  display: flex;
  gap: 5px;
}
.bot-wrapper .bot-chat .single-msg .bot-icon-wrapper {
  border: 1px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bot-wrapper .bot-chat .single-msg .bot-icon-wrapper svg {
  font-size: 24px;
}
.bot-wrapper .bot-chat .single-msg .message-wrapper {
  padding: 5px;
  box-shadow: 0 0 1px;
  background-color: #11212d;
  color: #ccd0cf;
  border-radius: 0 10px 10px 10px;
}
.bot-wrapper .bot-chat .single-msg .user-icon-wrapper {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  border: #06141b 1px solid;
  border-radius: 50%;
  letter-spacing: 1px;
  font-weight: 700;
  justify-content: center;
  font-family: "Patua One", serif;
}
.bot-wrapper .send-message {
  flex: 1;
  background-color: #06141b;
  display: flex;
  align-items: center;
}
.bot-wrapper .send-message input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 2.5px;
  font-family: "Roboto Condensed", sans-serif;
}
.bot-wrapper .send-message input:focus {
  outline: none;
}
.bot-wrapper .send-message button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #06141b;
  cursor: pointer;
}

.bot-header {
  flex: 1;
  background-color: #11212d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  height: 100%;
}

.hidden-bot {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  width: 280px;
  height: 5vh;
}