@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.auth-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .switch-login {
    display: none;
    @include mq.respond-to("mobile-device") {
      display: flex;
      position: absolute;
      bottom: 5%;
      color: v.$light-gray;
      button {
        border: none;
        background-color: transparent;
        font-family: v.$intro_title;
        color: v.$orange;
        letter-spacing: 1px;
        text-decoration: underline;
        text-shadow: 0 0 1.5px black;
        cursor: pointer;
      }
    }
  }

  .auth {
    width: 50%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 1px v.$cadet-gray;
    display: flex;

    @include mq.respond-to("laptop-device") {
      width: 80%;
    }
    @include mq.respond-to("tablet-device") {
      width: 100%;
    }

    @include mq.respond-to("mobile-device") {
      flex-direction: column;
      height: 100%;
    }

    .auth-logo {
      display: none;
      @include mq.respond-to("mobile-device") {
        display: flex;
        position: absolute;
        top: 5%;
        left: 5%;
      }
    }
    .auth-panel {
      flex: 1.3;
      color: v.$light-gray;
      background-color: v.$charcoal_blue;
      border-radius: 15px 0 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      position: relative;

      span {
        button {
          border: none;
          background-color: transparent;
          font-family: v.$intro_title;
          color: v.$orange;
          letter-spacing: 1px;
          text-decoration: underline;
          text-shadow: 0 0 1.5px black;
          cursor: pointer;
        }
      }

      p {
        color: v.$cadet-gray;
      }

      @include mq.respond-to("mobile-device") {
        display: none;
      }
    }

    .auth-form {
      flex: 1;
      @include mq.respond-to("mobile-device") {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
