@use "../../utils/sass/v.scss";

.my-stats {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  input {
    padding: 3.5px;
    border: 1px solid v.$charcoal_blue;
    border-radius: 3.5px;
    font-family: v.$font;

    &:focus {
      outline: none;
    }
  }

  .submit-journey-btn {
    border: none;
    font-family: v.$intro_title;
    padding: 3.5px;
    background-color: v.$charcoal_blue;
    border-radius: 3.5px;
    cursor: pointer;
    color: v.$light-gray;
    margin-top: 5px;

    &:active {
      transform: scale(0.95);
    }
  }
  .reset-journey-btn {
    border: none;
    font-family: v.$intro_title;
    padding: 3.5px;
    background-color: v.$gunmetal;
    border-radius: 3.5px;
    cursor: pointer;
    color: v.$light-gray;
    margin-top: 5px;

    &:active {
      transform: scale(0.95);
    }
  }

  .journey-stats {
    .custom-chart {
      width: 100%;
      height: 15px;
      position: relative;
      border-radius: 2.5px;
      box-shadow: 0 0 1px v.$cadet-gray;
    }
  }
}
