.my-stats {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.my-stats input {
  padding: 3.5px;
  border: 1px solid #1e6c82;
  border-radius: 3.5px;
  font-family: "Roboto Condensed", sans-serif;
}
.my-stats input:focus {
  outline: none;
}
.my-stats .submit-journey-btn {
  border: none;
  font-family: "Patua One", serif;
  padding: 3.5px;
  background-color: #1e6c82;
  border-radius: 3.5px;
  cursor: pointer;
  color: #fff;
  margin-top: 5px;
}
.my-stats .submit-journey-btn:active {
  transform: scale(0.95);
}
.my-stats .reset-journey-btn {
  border: none;
  font-family: "Patua One", serif;
  padding: 3.5px;
  background-color: #fb2985;
  border-radius: 3.5px;
  cursor: pointer;
  color: #fff;
  margin-top: 5px;
}
.my-stats .reset-journey-btn:active {
  transform: scale(0.95);
}
.my-stats .journey-stats .custom-chart {
  width: 100%;
  height: 15px;
  border: 1px solid;
  position: relative;
  border-radius: 2.5px;
}