@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  .dashboard {
    display: flex;
    width: 95%;
    height: 95%;
    @include mq.respond-to("tablet-device") {
      flex-direction: column;
    }

    aside {
      flex: 1;
      background-color: v.$steel-blue;
    }

    main {
      flex: 5;
      border-bottom: 1px v.$independence solid;
      border-right: 1px v.$independence solid;
      border-top: 1px v.$independence solid;
    }
  }
}
