@use "../../utils/sass/v.scss";

.dashboard-wrapper {
  position: relative;
  border: 1px solid v.$example;
  .dashboard {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
}
