.roadmap-wrapper {
  width: 100%;
  height: 100%;
}
.roadmap-wrapper .roadmap {
  box-shadow: 0 0 1px #9baab8;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  padding: 5px;
  height: 100%;
}
@media (max-width: 425px) {
  .roadmap-wrapper .roadmap {
    flex-direction: column;
  }
}
.roadmap-wrapper .roadmap .roadmap-setup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.roadmap-wrapper .roadmap .roadmap-setup input {
  width: 80%;
  padding: 10px;
  border-radius: 3.5px;
  box-shadow: 0 0 1px #9baab8;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
}
.roadmap-wrapper .roadmap .roadmap-setup input:focus {
  outline: none;
}
.roadmap-wrapper .roadmap .roadmap-setup button {
  padding: 10px;
  font-family: "Patua One", serif;
  border: 1px solid #9baab8;
  background-color: #11212d;
  color: #ccd0cf;
  border-radius: 3.5px;
  box-shadow: 0 0 1px #9baab8;
  cursor: pointer;
}
.roadmap-wrapper .roadmap .roadmap-setup button:active {
  transform: scale(0.95);
}
.roadmap-wrapper .roadmap .roadmap-setup .existing-workspace-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.roadmap-wrapper .roadmap .roadmap-setup .existing-workspace-list span {
  background-color: #06141b;
  padding: 5px;
  position: relative;
  border-radius: 3.5px;
  color: #ccd0cf;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 1px #9baab8;
}
.roadmap-wrapper .roadmap .roadmap-setup .existing-workspace-list span:active {
  transform: scale(0.95);
}
.roadmap-wrapper .roadmap .roadmap-setup .existing-workspace-list span:hover .remove-node {
  opacity: 1;
}
.roadmap-wrapper .roadmap .roadmap-setup .existing-workspace-list span:hover .update-node {
  opacity: 1;
}
.roadmap-wrapper .roadmap .roadmap-setup .existing-workspace-list span .remove-node {
  position: absolute;
  bottom: 65%;
  transition: all 0.25s ease-in-out;
  right: 0;
  opacity: 0;
}
.roadmap-wrapper .roadmap .roadmap-setup .existing-workspace-list span .update-node {
  position: absolute;
  bottom: 65%;
  transition: all 0.25s ease-in-out;
  left: 0;
  opacity: 0;
}
.roadmap-wrapper .roadmap .roadmap-chart {
  flex: 2;
}