@use "../../utils/sass/v.scss";

.chat-place {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .messages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 85vh;
    overflow-y: auto;
    padding: 20px 0;
    

    .single-msg {
      display: flex;
      gap: 15px;
      align-items: flex-end;

      .bot-icon-wrapper {
        border: 1px solid;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: v.$cadet-gray;
        background-color: v.$gunmetal;

        svg {
          font-size: 24px;
        }
      }

      .message-wrapper {
        padding: 5px;
        box-shadow: 0 0 1px;
        background-color: v.$charcoal_blue;
        color: v.$light-gray;
        border-radius: 0 10px 10px 10px;
        align-items: baseline;
      }

      .user-icon-wrapper {
        border: 1px solid;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: v.$cadet-gray;
        background-color: v.$gunmetal;
      }
    }
  }

  .send-message {
    display: flex;
    align-items: center;

    input {
      width: 100%;
      height: 100%;
      font-size: 16px;
      padding: 2.5px;
      font-family: v.$font;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: v.$gunmetal;
      cursor: pointer;
    }
  }
}
