@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.timer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .timer {
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;

    @include mq.respond-to("laptop-device") {
      width: 100%;
    }

    .timer-setup-wrapper {
      flex: 1;
      height: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;

      .timer-setup {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .define-task {
          display: flex;
          flex-direction: column;
          gap: 5px;
          position: relative;
          color: v.$light-gray;

          .define-task-box {
            background-color: transparent;
            box-shadow: 0 0 1px v.$cadet-gray;
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 5px;
            max-height: 25vh;
            overflow-y: scroll;

            .task-picker {
              background-color: v.$charcoal_blue;
              padding: 5px;
              box-shadow: 0 0 1px v.$light-gray;
              border-radius: 2.5px;
              font-family: v.$font;
              border: none;
              color: v.$light-gray;
              cursor: pointer;
              transition: all 0.25s ease-in-out;
              text-align: left;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }

        .defined-task-wrapper {
          width: 90%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 10px;
        }
        .chosen-task-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          min-height: 32vh;
          border-radius: 5px;
          color: v.$light-gray;
          box-shadow: 0 0 1px v.$cadet-gray;
        }
        .run-timer-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: v.$cadet-gray;
          color: v.$charcoal_blue;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          box-shadow: 0 0 1px v.$gunmetal;
          cursor: pointer;

          &:active {
            transform: scale(0.95);
          }

          @include mq.respond-to("tablet-device") {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: v.$cadet-gray;
            color: v.$charcoal_blue;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 5px 5px 15px v.$gunmetal;
          }
        }
      }
    }

    .timer-output-wrapper {
      flex: 2;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      @include mq.respond-to("mobile-device") {
        display: none;
      }

      .timer-output {
        width: 90%;
        height: 500px;
        background-color: transparent;
        border-radius: 5px;
        box-shadow: 0 0 1px v.$cadet-gray;
        display: flex;
        justify-content: center;
        align-items: center;

        .timer-output-item {
          font-size: 150px;
          color: v.$independence;
          background-color: v.$charcoal_blue;
          border-radius: 5px;
          box-shadow: 0 0 1px v.$cadet-gray;

          @include mq.respond-to("laptop-device") {
            font-size: 100px;
          }
        }
        .timer-dots {
          font-size: 150px;
          color: v.$charcoal_blue;
          @include mq.respond-to("laptop-device") {
            font-size: 100px;
          }
        }
      }
    }
  }
}
