.timer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.timer-wrapper .timer {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .timer-wrapper .timer {
    width: 100%;
  }
}
.timer-wrapper .timer .timer-setup-wrapper {
  flex: 1;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .define-task {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  color: #ccd0cf;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .define-task .define-task-box {
  background-color: transparent;
  box-shadow: 0 0 1px #9baab8;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  max-height: 25vh;
  overflow-y: scroll;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .define-task .define-task-box .task-picker {
  background-color: #11212d;
  padding: 5px;
  box-shadow: 0 0 1px #ccd0cf;
  border-radius: 2.5px;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  color: #ccd0cf;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  text-align: left;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .define-task .define-task-box .task-picker:hover {
  opacity: 0.7;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .defined-task-wrapper {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .chosen-task-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 32vh;
  border-radius: 5px;
  color: #ccd0cf;
  box-shadow: 0 0 1px #9baab8;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .run-timer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9baab8;
  color: #11212d;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 1px #06141b;
  cursor: pointer;
}
.timer-wrapper .timer .timer-setup-wrapper .timer-setup .run-timer-btn:active {
  transform: scale(0.95);
}
@media (max-width: 768px) {
  .timer-wrapper .timer .timer-setup-wrapper .timer-setup .run-timer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9baab8;
    color: #11212d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #06141b;
  }
}
.timer-wrapper .timer .timer-output-wrapper {
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 425px) {
  .timer-wrapper .timer .timer-output-wrapper {
    display: none;
  }
}
.timer-wrapper .timer .timer-output-wrapper .timer-output {
  width: 90%;
  height: 500px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 1px #9baab8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-wrapper .timer .timer-output-wrapper .timer-output .timer-output-item {
  font-size: 150px;
  color: #253745;
  background-color: #11212d;
  border-radius: 5px;
  box-shadow: 0 0 1px #9baab8;
}
@media (max-width: 768px) {
  .timer-wrapper .timer .timer-output-wrapper .timer-output .timer-output-item {
    font-size: 100px;
  }
}
.timer-wrapper .timer .timer-output-wrapper .timer-output .timer-dots {
  font-size: 150px;
  color: #11212d;
}
@media (max-width: 768px) {
  .timer-wrapper .timer .timer-output-wrapper .timer-output .timer-dots {
    font-size: 100px;
  }
}