@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.chat-bots-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
  padding: 5px;
  position: relative;

  .chat-side-bar-wrapper {
    flex: 1;
    border-radius: 3.5px;
    background-color: v.$gunmetal;
    box-shadow: 0 0 1px v.$cadet-gray;

    @include mq.respond-to("laptop-device") {
      flex: 0 0 250px;
    }
    @include mq.respond-to("mobile-device") {
      display: none;
    }
  }

  .chat-place-wrapper {
    flex: 3;
    box-shadow: 0 0 1px v.$cadet-gray;
    border-radius: 3.5px;
  }
}
