@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.all-activities-wapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .active-filter {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;

    button {
      font-family: v.$intro_title;
      border: none;
      padding: 3.5px;
      cursor: pointer;
      border-radius: 2.5px;

      &:active {
        transform: scale(0.95);
      }
    }

    .custom-filter-input {
      border: 1px solid;
      display: flex;
      align-items: center;
      padding: 3.5px;
      border-radius: 2.5px;

      input {
        border: none;
        font-family: v.$font;
        &:focus {
          outline: none;
        }
      }

      svg {
        color: v.$cadet-gray;
        cursor: pointer;

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
  .all-acts-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    .act-header-item {
      flex: 1;
      background-color: v.$charcoal_blue;
      color: v.$light-gray;
      border-radius: 5px;
      box-shadow: 0 0 5px v.$cadet-gray;
      padding: 3px;
      @include mq.respond-to("mobile-device") {
        font-size: 14px;
      }
    }
  }

  .active-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 25vh;
    overflow-y: auto;

    .single-active {
      width: 98%;
      margin: 0 auto;
      gap: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
      box-shadow: 0 0 1px v.$cadet-gray;
      border-radius: 5px;

      span {
        border-radius: 5px;
        flex: 1;
      }
    }
  }
}
