$orange: orangered;
$gunmetal: #06141b;
$charcoal_blue: #11212d;
$independence: #253745;
$steel-blue: #4a5c6a;
$cadet-gray: #9baab8;
$light-gray: #ccd0cf;

//fonts
$intro_title: "Patua One", serif;
$font: "Roboto Condensed", sans-serif;
$digit: "Lilita One", sans-serif;
