$orange: #f07043;
$gray: #5f402d;
$green: #14bc87;
$example: #6c6885;
$example2: #c08cd2;
$dark_green: #093b1f;
$pink: #fb2985;
$light_grey: #8b847d;
$nice_blue: #1e6c82;

//fonts
$intro_title: "Patua One", serif;
$font: "Roboto Condensed", sans-serif;
$digit: "Lilita One", sans-serif;
