@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.landing-page {
  display: flex;
  flex-direction: column;
  gap: 160px;

  .offers {
    display: flex;
    flex-direction: column;
    gap: 160px;
    width: 80%;
    margin: 0 auto;
    padding: 25px;

    @include mq.respond-to("tablet-device") {
      width: 100%;
    }
    @include mq.respond-to("mobile-device") {
      width: 100%;
    }
  }
}
