.landing-page {
  display: flex;
  flex-direction: column;
  gap: 160px;
}
.landing-page .offers {
  display: flex;
  flex-direction: column;
  gap: 160px;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
}
@media (max-width: 769px) {
  .landing-page .offers {
    width: 100%;
  }
}
@media (max-width: 426px) {
  .landing-page .offers {
    width: 100%;
  }
}