footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  margin: auto;
  align-items: center;
  background-color: #11212d;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 1px #9baab8;
}
footer span {
  color: #253745;
  font-weight: 700;
}
footer .footer-content {
  display: flex;
}
@media (max-width: 768px) {
  footer .footer-content {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 425px) {
  footer .footer-content {
    flex-direction: column;
    gap: 15px;
  }
}
footer .footer-content .introduce-myself {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #ccd0cf;
}
footer .footer-content .introduce-myself .author-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
footer .footer-content .introduce-myself .author-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #9baab8 2px solid;
}
footer .footer-content .introduce-myself button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-family: "Patua One", serif;
  cursor: pointer;
  color: orangered;
}
footer .footer-content .introduce-myself button:active {
  transform: scale(0.95);
}
footer .footer-content .introduce-myself .networks {
  color: #9baab8;
  display: flex;
  gap: 15px;
  align-items: center;
}
@media (max-width: 425px) {
  footer .footer-content .introduce-myself .networks {
    width: 100%;
    justify-content: space-between;
  }
}
footer .footer-content .introduce-myself .networks .network-item {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
footer .footer-content .introduce-myself .networks .network-item:hover {
  color: aliceblue;
}
footer .footer-content .my-projects {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: #ccd0cf;
  border-left: 2px solid;
}
@media (max-width: 768px) {
  footer .footer-content .my-projects {
    border: none;
  }
}
@media (max-width: 425px) {
  footer .footer-content .my-projects {
    border: none;
  }
}
footer .footer-content .my-projects .new {
  background-color: orangered;
  padding: 5px;
  border-radius: 5px;
  color: #ccd0cf;
}
footer .footer-content .my-projects ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 768px) {
  footer .footer-content .my-projects ul {
    align-items: center;
  }
}