@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.our-offer-wrapper {
  display: flex;
  border-radius: 3.5px;
  box-shadow: 0 0 1px v.$cadet-gray;
  transition: all 1.55s ease-in-out;

  .offer-info {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .offer-info-desc {
      color: v.$light-gray;
    }
    span {
      position: absolute;
      font-size: 250px;
      font-family: v.$digit;
      opacity: 0.3;
    }

    h1 {
      font-size: 80px;
      color: v.$steel-blue;
      text-shadow: 0 0 10px black;
    }

    p {
      color: v.$steel-blue;
      font-size: 24px;
      text-shadow: 0 0 10px black;
    }

    button {
      position: absolute;
      top: 80%;
      left: 10px;
      border: none;
      background-color: transparent;
      font-family: v.$intro_title;
      text-decoration: underline;
      cursor: pointer;

      &:active {
        transform: scale(0.95);
      }
    }

    @include mq.respond-to("laptop-device") {
      color: v.$light-gray;

      span {
        font-size: 200px;
        opacity: 0.2;
        color: v.$light-gray;
      }
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 18px;
      }
      button {
        bottom: 5%;
        left: 5%;
        color: v.$light-gray;
      }
    }
    @include mq.respond-to("tablet-device") {
      color: v.$light-gray;

      span {
        font-size: 200px;
        opacity: 0.2;
        color: v.$light-gray;
      }
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 18px;
      }
      button {
        bottom: 5%;
        left: 5%;
        font-size: 10px;
      }
    }

    @include mq.respond-to("mobile-device") {
      color: v.$light-gray;

      span {
        font-size: 35px;
        top: 0%;
        right: 0;
      }
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 18px;
      }
      button {
        top: 100%;
        left: 85%;
        font-size: 10px;
      }
    }
  }

  .video-wrapper {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5px;

    video {
      width: 100%;
      height: 100%;
      border-radius: 3.5px;
      border: 15px solid v.$steel-blue;

      @include mq.respond-to("mobile-device") {
        border: 5px solid v.$steel-blue;
      }
      @include mq.respond-to("tablet-device") {
        border: 10px solid v.$steel-blue;
      }
    }
  }
}
