.our-offer-wrapper {
  display: flex;
  border-radius: 3.5px;
  box-shadow: 0 0 1px #9baab8;
  transition: all 1.55s ease-in-out;
}
.our-offer-wrapper .offer-info {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.our-offer-wrapper .offer-info .offer-info-desc {
  color: #ccd0cf;
}
.our-offer-wrapper .offer-info span {
  position: absolute;
  font-size: 250px;
  font-family: "Lilita One", sans-serif;
  opacity: 0.3;
}
.our-offer-wrapper .offer-info h1 {
  font-size: 80px;
  color: #4a5c6a;
  text-shadow: 0 0 10px black;
}
.our-offer-wrapper .offer-info p {
  color: #4a5c6a;
  font-size: 24px;
  text-shadow: 0 0 10px black;
}
.our-offer-wrapper .offer-info button {
  position: absolute;
  top: 80%;
  left: 10px;
  border: none;
  background-color: transparent;
  font-family: "Patua One", serif;
  text-decoration: underline;
  cursor: pointer;
}
.our-offer-wrapper .offer-info button:active {
  transform: scale(0.95);
}
@media (max-width: 1025px) {
  .our-offer-wrapper .offer-info {
    color: #ccd0cf;
  }
  .our-offer-wrapper .offer-info span {
    font-size: 200px;
    opacity: 0.2;
    color: #ccd0cf;
  }
  .our-offer-wrapper .offer-info h1 {
    font-size: 50px;
  }
  .our-offer-wrapper .offer-info p {
    font-size: 18px;
  }
  .our-offer-wrapper .offer-info button {
    bottom: 5%;
    left: 5%;
    color: #ccd0cf;
  }
}
@media (max-width: 769px) {
  .our-offer-wrapper .offer-info {
    color: #ccd0cf;
  }
  .our-offer-wrapper .offer-info span {
    font-size: 200px;
    opacity: 0.2;
    color: #ccd0cf;
  }
  .our-offer-wrapper .offer-info h1 {
    font-size: 50px;
  }
  .our-offer-wrapper .offer-info p {
    font-size: 18px;
  }
  .our-offer-wrapper .offer-info button {
    bottom: 5%;
    left: 5%;
    font-size: 10px;
  }
}
@media (max-width: 426px) {
  .our-offer-wrapper .offer-info {
    color: #ccd0cf;
  }
  .our-offer-wrapper .offer-info span {
    font-size: 35px;
    top: 0%;
    right: 0;
  }
  .our-offer-wrapper .offer-info h1 {
    font-size: 50px;
  }
  .our-offer-wrapper .offer-info p {
    font-size: 18px;
  }
  .our-offer-wrapper .offer-info button {
    top: 100%;
    left: 85%;
    font-size: 10px;
  }
}
.our-offer-wrapper .video-wrapper {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.5px;
}
.our-offer-wrapper .video-wrapper video {
  width: 100%;
  height: 100%;
  border-radius: 3.5px;
  border: 15px solid #4a5c6a;
}
@media (max-width: 426px) {
  .our-offer-wrapper .video-wrapper video {
    border: 5px solid #4a5c6a;
  }
}
@media (max-width: 769px) {
  .our-offer-wrapper .video-wrapper video {
    border: 10px solid #4a5c6a;
  }
}