.overview-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
@media (max-width: 425px) {
  .overview-wrapper {
    flex-direction: column;
  }
}
.overview-wrapper .new-user-btn {
  padding: 10px;
  font-family: "Patua One", serif;
  border-radius: 3.5px;
  border: none;
  box-shadow: 0 0 1px #06141b;
  cursor: pointer;
}
.overview-wrapper .new-user-btn:active {
  transform: scale(0.95);
}
.overview-wrapper .overview {
  border-radius: 5px;
  display: flex;
  gap: 15px;
}
@media (max-width: 1024px) {
  .overview-wrapper .overview {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .overview-wrapper .overview {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin-top: 100px;
  }
}
.overview-wrapper .overview .left-side-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.overview-wrapper .overview .left-side-wrapper .daily-result-wrapper {
  flex: 1.5;
  border-radius: 5px;
  box-shadow: 0 0 1px #9baab8;
}
.overview-wrapper .overview .left-side-wrapper .daily-result-wrapper h1 {
  color: #9baab8;
}
.overview-wrapper .overview .left-side-wrapper .active-history-wrapper {
  flex: 1;
  padding: 5px;
  background-color: #ccd0cf;
  box-shadow: 0 0 1px #9baab8;
  border-radius: 5px;
}
.overview-wrapper .overview .right-side-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 768px) {
  .overview-wrapper .overview .right-side-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .overview-wrapper .overview .right-side-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.overview-wrapper .overview .right-side-wrapper .my-stats-wrapper {
  flex: 1.5;
  background-color: #ccd0cf;
  border-radius: 5px;
  box-shadow: 0 0 1px #9baab8;
}
.overview-wrapper .overview .right-side-wrapper .top-learned-wrapper {
  flex: 2;
  border-radius: 5px;
  box-shadow: 0 0 1px #9baab8;
}