@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.side-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 25px 0;

  @include mq.respond-to("tablet-device") {
    flex-direction: row;
  }
}

.tutorial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$charcoal_blue;
  padding: 5px;
  border-radius: 3.5px;
  color: v.$light-gray;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.bot-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: v.$charcoal_blue;
  padding: 5px;
  border-radius: 3.5px;
  color: v.$light-gray;
  cursor: pointer;
  width: fit-content;

  &:active {
    transform: scale(0.95);
  }

  span {
    width: 30px;
    height: 30px;
    border-radius: 3.5px;
    background-color: v.$cadet-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1.5px v.$gunmetal;

    svg {
      color: v.$gunmetal;
    }
  }
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .nav-item {
    font-size: 18px;
    display: flex;
    width: 100%;
    gap: 15px;
    color: initial;
    text-decoration: none;
    padding: 10px;
    transition: all 0.25s ease-in-out;
    padding-left: 50px;

    &:hover {
      color: v.$cadet-gray;
      background-color: v.$charcoal_blue;
    }

    @include mq.respond-to("laptop-device") {
      padding-left: 20px;
    }
  }
}

.log-out {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  background-color: v.$cadet-gray;
  border: none;
  font-family: v.$font;
  font-size: 16px;
  border-radius: 3.5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: v.$independence;
    color: v.$light-gray;
  }
}

.active {
  background-color: v.$independence;
}
