@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.intro-wrapper {
  position: relative;
  background-size: 10px 10px;
  background-image: radial-gradient(circle, v.$cadet-gray 20%, transparent 10%);
  background-position: 0 0, 10px 10px;
  height: 100vh;
  display: flex;
  gap: 25px;

  @include mq.respond-to("mobile-device") {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .intro-title {
    flex: 1;
    font-family: v.$intro_title;
    backdrop-filter: blur(2.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    @include mq.respond-to("mobile-device") {
      margin-top: 100px;
    }

    h1 {
      display: flex;
      flex-direction: column;
      font-size: 85px;
      color: v.$gunmetal;
      text-shadow: 0 0 1px v.$charcoal_blue;

      @include mq.respond-to("laptop-device") {
        font-size: 65px;
      }
      @include mq.respond-to("tablet-device") {
        font-size: 45px;
      }
      @include mq.respond-to("mobile-device") {
        text-align: center;
      }
    }

    p {
      color: v.$light-gray;
      font-family: v.$font;

      @include mq.respond-to("tablet-device") {
        font-size: 15px;
      }
      @include mq.respond-to("mobile-device") {
        text-align: center;
      }
    }

    button {
      padding: 15px;
      width: fit-content;
      font-family: v.$intro_title;
      border-radius: 5px;
      border: none;
      letter-spacing: 1px;
      background-color: v.$light-gray;
      cursor: pointer;

      &:active {
        transform: scale(0.95);
      }

      @include mq.respond-to("laptop-device") {
        padding: 10px;
        width: fit-content;
        font-family: v.$intro_title;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 10px v.$steel-blue;
        letter-spacing: 1px;
      }
      @include mq.respond-to("mobile-device") {
        width: 100%;
      }
    }
  }

  .product-showcases {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .product-wrapper {
      width: 70%;
      height: 250px;
      border-radius: 5px;
      box-shadow: 0 0 1px v.$cadet-gray;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
    }

    .products {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .product {
        display: flex;
        backdrop-filter: blur(5px);
        align-items: flex-start;
        gap: 5px;
        padding: 5px;
        color: v.$gunmetal;
        box-shadow: 0 0 2.5px v.$light-gray;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        svg {
          font-size: 24px;
        }

        &:hover {
          background-color: v.$charcoal_blue;
          color: v.$light-gray;
        }

        @include mq.respond-to("laptop-device") {
          &:hover {
            opacity: 1;
          }
        }

        @include mq.respond-to("tablet-device") {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            display: none;
          }
        }
      }

      @include mq.respond-to("mobile-device") {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
