@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.task-generator-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .task-generator {
    width: 80%;
    height: 95%;
    box-shadow: 0 0 1.5px v.$example;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    @include mq.respond-to("laptop-device") {
      width: 100%;
    }
  }

  .store-daily-result {
    border: none;
    box-shadow: 0 0 10px v.$example;
    background-color: v.$orange;
    width: fit-content;
    align-self: flex-end;
    font-family: v.$intro_title;
    padding: 5px;
    border-radius: 3.5px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 2.5px;

    &:active {
      transform: scale(0.95);
    }
  }
}
