.task-generator-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-generator-wrapper .task-generator {
  width: 80%;
  height: 95%;
  box-shadow: 0 0 1.5px #6c6885;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.task-generator-wrapper .store-daily-result {
  border: none;
  box-shadow: 0 0 10px #6c6885;
  background-color: orangered;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  font-family: "Patua One", serif;
  padding: 5px;
  border-radius: 3.5px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2.5px;
}
.task-generator-wrapper .store-daily-result:active {
  transform: scale(0.95);
}