.task-generator {
  border-radius: 5px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 1025px) {
  .task-generator {
    width: 100%;
  }
}

.store-daily-result {
  border: none;
  box-shadow: 0 0 1px #9baab8;
  background-color: #9baab8;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  font-family: "Patua One", serif;
  padding: 5px;
  border-radius: 3.5px;
  cursor: pointer;
  color: #06141b;
  display: flex;
  align-items: center;
  gap: 2.5px;
}
.store-daily-result:active {
  transform: scale(0.95);
}