@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.single-task {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: v.$nice_blue;
  box-shadow: 5px 5px 10px v.$example;
  border-radius: 5px;
  color: #fff;
  position: relative;

  @include mq.respond-to("mobile-device") {
    width: 100%;
  }
  .complete-btn {
    font-family: v.$intro_title;
    border: none;
    background-color: v.$dark_green;
    padding: 5px;
    border-radius: 3.5px;
    color: #fff;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }

  .remove-btn {
    font-family: v.$intro_title;
    border: none;
    background-color: rgb(250, 36, 36);
    padding: 5px;
    border-radius: 3.5px;
    color: #fff;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }
}
