.single-task {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 1px #9baab8;
  border-radius: 5px;
  color: #ccd0cf;
  position: relative;
  height: 25vh;
}
@media (max-width: 426px) {
  .single-task {
    width: 100%;
  }
}
.single-task .remove-btn {
  font-family: "Patua One", serif;
  border: none;
  background-color: orangered;
  padding: 5px;
  border-radius: 3.5px;
  color: #ccd0cf;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}
.single-task .remove-btn:active {
  transform: scale(0.95);
}
.single-task .task-created-at {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 1.5px;
  background-color: #253745;
  color: #ccd0cf;
  border-radius: 2.5px;
  font-weight: bold;
  font-size: 14px;
}