@use "../../utils/sass/v.scss";
@use "../../utils/sass/f.scss" as mq;

.single-task {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 1px v.$cadet-gray;
  border-radius: 5px;
  color: v.$light-gray;
  position: relative;
  height: 25vh;

  @include mq.respond-to("mobile-device") {
    width: 100%;
  }

  .remove-btn {
    font-family: v.$intro_title;
    border: none;
    background-color: v.$orange;
    padding: 5px;
    border-radius: 3.5px;
    color: v.$light-gray;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }

  .task-created-at {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 1.5px;
    background-color: v.$independence;
    color: v.$light-gray;
    border-radius: 2.5px;
    font-weight: bold;
    font-size: 14px;
  }
}
